* {
  font-family: "Aleo", serif;
}
.nav-item a,
h5 {
  color: #000;
}
.nav-item a:hover {
  color: #fff;
  border-color: #fff !important;
}

/* media query */
@media (max-width: 1024px) and (min-width: 768px) {
}

@media (max-width: 576px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col-5,
  .col-7 {
    width: 100% !important;
    padding: 0px !important;
  }
  .col-7 div {
    margin: 35px 0px !important;
    padding: 0px 25px !important;
    text-align: center;
  }
}

@media (max-width: 850px) and (min-width: 620px) {
  .col-7 div {
    font-size: 1.1rem !important;
    margin-left: 7px !important;
  }
  .col-7 div .lh-lg {
    line-height: 1.75 !important;
  }
}

/* Animation starts */
.description {
  position: relative;
  opacity: 0;

  animation: text-blur 2.5s forwards ease-out;
  -webkit-animation: text-blur 2.5s forwards ease-out;
}

#para-1 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
#para-2 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#para-3 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
#para-4 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

@-webkit-keyframes text-blur {
  100% {
    opacity: 1;
  }
}
@keyframes text-blur {
  100% {
    opacity: 1;
  }
}

#image,
#title {
  z-index: -1;
  position: relative;
  left: -750px;

  animation: image-animate forwards 2.75s;
  -webkit-animation: image-animate forwards 2.75s;

  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}

@-webkit-keyframes image-animate {
  100% {
    left: 0;
  }
}
@keyframes image-animate {
  100% {
    left: 0;
  }
}
