* {
  color: rgb(255, 255, 255);
  font-family: "Aleo", serif;
}
#social li,
h1 {
  color: #fff04e;
}
.nav-item a {
  color: #fff;
}
.nav-item a:hover {
  color: #fff04e;
  border-color: #fff04e !important;
}

/* media query */
@media (max-width: 1024px) and (min-width: 992px) {
  .mt-5 {
    margin-top: 2rem !important;
  }
  h1 {
    font-size: 45px;
  }
  .lh-lg {
    line-height: 1.75 !important;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .mt-5 {
    margin-top: 2rem !important;
  }
  h1 {
    font-size: 40px !important;
  }
  .lh-lg {
    line-height: 1.75 !important;
    font-size: 19px !important;
  }
  img {
    width: 100% !important;
  }
}
@media (max-width: 576px) {
  .ms-5 {
    margin-left: 2.75rem !important;
  }
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .col-6 {
    width: 100%;
    margin-top: 0px !important;
  }
  h1 {
    font-size: 45px !important;
  }
  .col-6 h1,
  .col-6 p {
    text-align: center;
    padding: 0px 10px;
  }
  ul {
    width: max-content;
    margin: auto;
  }
  .container-fluid {
    margin-top: 30px;
  }
}

/* Animation starts */
.animate-row-left {
  position: relative;
  left: -1000px;

  animation: slide 2.5s forwards ease-out;
  -webkit-animation: slide 2.5s forwards ease-out;
}

#myname {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
#intro {
  animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}

.social-icons {
  position: relative;
  bottom: -75px;

  animation: social-icons-slide 1s forwards ease-out;
  -webkit-animation: social-icons-slide 1s forwards ease-out;
}

#quote {
  animation-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
}
#quora {
  animation-delay: 5.25s;
  -webkit-animation-delay: 5.25s;
}
#linkedin {
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}
#twitter {
  animation-delay: 6.75s;
  -webkit-animation-delay: 6.75s;
}
#instagram {
  animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

@-webkit-keyframes social-icons-slide {
  100% {
    bottom: 0;
  }
}
@keyframes social-icons-slide {
  100% {
    bottom: 0;
  }
}

#image {
  position: relative;
  opacity: 0;

  animation: image-animate forwards 2s;
  -webkit-animation: image-animate forwards 2s;

  animation-delay: 2.75s;
  -webkit-animation-delay: 2.75s;
}
@-webkit-keyframes image-animate {
  100% {
    opacity: 1;
  }
}
@keyframes image-animate {
  100% {
    opacity: 1;
  }
}
